/*.............header............*/
@import url("https://fonts.googleapis.com/css2? family=Lato:ital@0;1&family=Roboto:wght@100&display=swap");
.header {
  padding: 2rem 0;
  background-color: rgb(1, 43, 46);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 7px 13px 10px rgba(0, 0, 0, 0.8);
  grid-area: header;
}
.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header div p {
  font-size: 1.4em;
  color: white;
  margin-left: 50px;
  letter-spacing: 10px;
}
.header div div {
  margin-right: 70px;
}
.header div div a {
  margin-right: 0;
}
.header div div a img {
  position: fixed;
  margin-right: 0;
  width: 40px;
  height: 40px;
  transition: all 1s;
}
.header div div a img:hover {
  width: 45px;
  height: 45px;
}
.header div nav {
  width: 100%;
  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header div nav ul li {
  display: inline-block;
  margin-left: 10px;
}
.header div nav ul li a {
  display: block;
  background-color: rgba(255, 255, 255, 0.466);
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: all 1s;
}
.header div nav ul li a:hover {
  color: rgba(247, 213, 129, 0.959);
  background-color: rgba(255, 255, 255, 0.219);
}

.footer {
  height: 350px;
  background-color: rgb(1, 43, 46);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: footer;
}
.footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer div div p {
  font-size: 1.4em;
  color: white;
  letter-spacing: 10px;
}
.footer div p {
  font-size: 100%;
  padding: 5px 0;
  text-align: left;
  color: white;
  width: 200px;
  font-family: "Open Sans", sans-serif;
}
.footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer div a {
  align-items: center;
}
.footer div a img {
  padding: 10px;
  height: 25%;
  width: 25%;
  transition: all 1s;
}
.footer div a img:hover {
  height: 30%;
  width: 30%;
}
.footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer div h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.footer div ul {
  list-style: none;
}
.footer div ul li {
  margin: 20px;
}
.footer div ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: all 1s;
}
.footer div ul li a:hover {
  color: darkgoldenrod;
}
.footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer div h3 {
  text-align: left;
}
.footer div h4 {
  text-align: left;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.footer div a {
  text-decoration: none;
}
.footer div a p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: all 1s;
}
.footer div a p:hover {
  color: darkgoldenrod;
}

.main {
  background-color: rgb(6, 125, 134);
  padding-top: 5rem;
  grid-area: main;
}

.hero h1 {
  text-align: center;
  padding: 50px;
  color: black;
}
.hero hr {
  margin: 50px 120px 50px 120px;
  color: black;
}

.carrusel {
  margin: 20px;
}
.carrusel div div div h5 {
  color: white;
}

hr {
  margin: 50px 120px 50px 120px;
  color: black;
}

.sectioneTexto {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.445);
  width: 80% px;
}
.sectioneTexto p {
  font-size: 40px;
  color: white;
}

.sectioneDestacados {
  background-color: rgb(1, 43, 46);
}
.sectioneDestacados h2 {
  text-align: center;
  padding: 50px;
  color: white;
}

.api {
  text-align: center;
}
.api button {
  padding: 15px;
  width: 400px;
  transition: all 1s;
}
.api button:hover {
  background-color: rgba(0, 0, 0, 0.466);
}
.api button a {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
.api button a:hover {
  color: white;
}

.sectionInstagram h3 {
  text-align: center;
  padding: 50px;
  color: black;
}
.sectionInstagram div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.sectionInstagram div img {
  width: 30%;
  height: 30%;
  margin: 8px;
  transition: all 1s;
}
.sectionInstagram div img:hover {
  background-color: rgb(1, 43, 46);
  padding: 1%;
}
.sectionInstagram div {
  align-items: center;
}
.sectionInstagram div button {
  border-radius: 10px;
  color: rgba(35, 193, 204, 0.747);
  background-color: rgb(1, 43, 46);
  text-align: center;
  padding: 8px;
  transition: all 1s;
}
.sectionInstagram div button:hover {
  color: rgb(1, 43, 46);
  background-color: rgba(35, 193, 204, 0.747);
}
.sectionInstagram div button img {
  width: 20px;
  height: 20px;
}
.sectionInstagram div button a {
  text-decoration: none;
}

.sectionBoton button {
  color: red;
  padding: 10px;
  font-family: alial;
  text-align: center;
  margin: 20px;
}

.sectioneProductos {
  background-color: rgb(4, 118, 126);
  margin: 0 10px 0 10px;
}
.sectioneProductos h2 {
  text-align: center;
  padding: 50px;
  color: black;
}
.sectioneProductos div div div div div h2 {
  padding: 5px;
  color: black;
}

.btn-primary {
  margin: 5px;
  color: rgba(35, 193, 204, 0.747);
  background-color: black;
}
.btn-primary a {
  text-decoration: none;
  color: rgba(35, 193, 204, 0.747);
  transition: all 0s;
}
.btn-primary a:hover {
  color: white;
}

.btn-secondary {
  color: rgba(35, 193, 204, 0.747);
  background-color: black;
}

.carrito {
  box-shadow: 0px 0px 3px black;
}
.carrito h2 {
  text-align: center;
  padding: 20px;
}
.carrito div {
  padding: 20px;
}
.carrito div div p {
  padding: 7px;
  color: rgb(1, 43, 46);
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 15px;
}
.carrito .divContenedor {
  display: block;
  width: 100%;
}
.carrito .divContenedor div {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
  color: rgb(1, 43, 46);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}
.carrito .divContenedor div div {
  align-items: center;
}
.carrito .divContenedor div div img {
  width: 90px;
  height: 90px;
  margin: 10px;
}
.carrito .divContenedor div p {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.63);
  background-color: rgb(1, 43, 46);
}
.carrito .divContenedor div button {
  width: 40px;
  height: 40px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.63);
  background-color: rgb(1, 43, 46);
  border-radius: 15px;
  transition: all 1s;
}
.carrito .divContenedor div button:hover {
  color: rgb(1, 43, 46);
  background-color: rgba(255, 255, 255, 0.63);
}
.carrito div {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.carrito div p {
  color: rgb(1, 43, 46);
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 15px;
  padding: 7px;
  font-size: 25px;
}
.carrito div button {
  color: rgb(1, 43, 46);
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 15px;
  padding: 5px;
  font-size: 25px;
  transition: all 1s;
}
.carrito div button:hover {
  color: white;
  background-color: rgb(24, 226, 17);
}

.sectioneNosotros div {
  margin: 20px;
  margin-left: 115px;
  padding: 10px;
  text-align: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.445);
}
.sectioneNosotros div p {
  font-size: 40px;
  color: white;
}

.sectionContactos div {
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.sectionContactos div h2 {
  text-align: center;
  padding: 50px;
  color: black;
}
.sectionContactos div p {
  text-align: center;
  color: rgba(0, 0, 0, 0.562);
}

h1 {
  text-align: center;
  padding: 20px;
}

.sectionApi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.sectionApi h1 {
  text-align: center;
}
.sectionApi div {
  padding: 5px;
  box-shadow: 0px 0px 3px black;
}
.sectionApi div div {
  display: flex;
}
.sectionApi div div img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr, auto, 1fr;
  gap: 4px 0px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/*............media.queries.header........*/
@media screen and (max-width: 1009px) {
  .header div nav {
    width: 100%;
    margin-top: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
