//............main...........
.main {
  background-color: rgb(6, 125, 134);
  padding-top: 5rem;
  grid-area: main;
}

.hero {
  h1 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  hr {
    margin: 50px 120px 50px 120px;
    color: black;
  }
}

// ...........main.Inicio.............
.carrusel {
  margin: 20px;


  div {
    div {
      div {

        img {}

        h5 {
          color: white;
        }

      }
    }

  }
}

hr {
  margin: 50px 120px 50px 120px;
  color: black;
}

.sectioneTexto {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.445);
  width: 80%px;

  p {
    font-size: 40px;
    color: white;
  }

}

.sectioneDestacados {
  background-color: rgb(1, 43, 46);


  h2 {
    text-align: center;
    padding: 50px;
    color: white;
  }
}

.api {
  text-align: center;

  button {
    padding: 15px;
    width: 400px;
    transition: all 1s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.466);
    }

    a {
      list-style: none;
      text-decoration: none;
      color: black;
      transition: all 0.3s;

      &:hover {
        color: white;
      }

    }
  }
}

.sectionInstagram {
  h3 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

    img {
      width: 30%;
      height: 30%;
      margin: 8px;
      transition: all 1s;

      &:hover {
        background-color: rgb(1, 43, 46);
        padding: 1%;
      }
    }
  }

  div {
    align-items: center;

    button {
      border-radius: 10px;
      color: rgba(35, 193, 204, 0.747);
      background-color: rgb(1, 43, 46);
      text-align: center;
      padding: 8px;
      transition: all 1s;

      &:hover {
        color: rgb(1, 43, 46);
        background-color: rgba(35, 193, 204, 0.747);
      }

      img {
        width: 20px;
        height: 20px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.sectionBoton {
  button {
    color: red;
    padding: 10px;
    font-family: alial;
    text-align: center;
    margin: 20px;
  }
}




//............main productos.......

.sectioneProductos {
  background-color: rgb(4, 118, 126);
  margin: 0 10px 0 10px;

  h2 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  div {
    div {
      div {
        div {
          div {
            h2 {
              padding: 5px;
              color: black;
            }
          }
        }
      }
    }
  }
}

.btn-primary {

  margin: 5px;
  color: rgba(35, 193, 204, 0.747);
  background-color: black;

  a {
    text-decoration: none;
    color: rgba(35, 193, 204, 0.747);
    transition: all 0s;

    &:hover {
      color: white;
    }
  }
}

.btn-secondary {
  color: rgba(35, 193, 204, 0.747);
  background-color: black;
}

.carrito {
  box-shadow: 0px 0px 3px black;

  h2 {
    text-align: center;
    padding: 20px;

  }

  div {
    padding: 20px;

    div {

      p {
        padding: 7px;
        color: rgb(1, 43, 46);
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 15px;
      }
    }


  }

  .divContenedor {
    display: block;
    width: 100%;

    div {

      margin: 10px;
      display: flex;
      justify-content: space-evenly;
      padding: 5px;
      width: 100%;
      color: rgb(1, 43, 46);
      background-color: rgb(255, 255, 255);
      border-radius: 25px;

      div {
        align-items: center;

        img {
          width: 90px;
          height: 90px;
          margin: 10px;
        }


      }

    }

    div {

      p {

        font-size: 25px;
        color: rgba(255, 255, 255, 0.63);
        background-color: rgb(1, 43, 46);
      }
    }

    div {
      button {
        width: 40px;
        height: 40px;
        padding: 10px;
        color: rgba(255, 255, 255, 0.63);
        background-color: rgb(1, 43, 46);
        border-radius: 15px;
        transition: all 1s;

        &:hover {
          color: rgb(1, 43, 46);
          background-color: rgba(255, 255, 255, 0.63);
        }
      }
    }


  }

  div {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

    p {
      color: rgb(1, 43, 46);
      background-color: rgba(255, 255, 255, 0.692);
      border-radius: 15px;
      padding: 7px;
      font-size: 25px;
    }

    button {
      color: rgb(1, 43, 46);
      background-color: rgba(255, 255, 255, 0.692);
      border-radius: 15px;
      padding: 5px;
      font-size: 25px;
      transition: all 1s;

      &:hover {
        color: white;
        background-color: rgb(24, 226, 17);
      }
    }

  }
}

//.......main.nosotros...........

.sectioneNosotros {

  div {
    margin: 20px;
    margin-left: 115px;
    padding: 10px;
    text-align: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.445);

    p {
      font-size: 40px;
      color: white;
    }
  }
}

//.......main.contactos...........

.sectionContactos{
  div{
    
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    h2{
      text-align: center;
      padding: 50px;
      color: black;
    }
    p{
      text-align: center;
      color: rgba(0, 0, 0, 0.562);
    }
  }
}

//apis y fetch............
h1 {
  text-align: center;
  padding: 20px;
}

.sectionApi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;

  h1 {
    text-align: center;
  }

  div {
    padding: 5px;
    box-shadow: 0px 0px 3px black;

    div {
      display: flex;

      img {
        width: 100%;
      }
    }
  }
}