//............main...........
.main {
  background-color: rgb(6, 125, 134);
  padding-top: 5rem;
  grid-area: main;
}

.hero {
  h1 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  hr {
    margin: 50px 120px 50px 120px;
    color: black;
  }
}

// ...........main.Inicio.............
.carrusel {
  margin: 20px;


  div {
    div {
      div {

        img {}

        h5 {
          color: white;
        }

      }
    }

  }
}

hr {
  margin: 50px 120px 50px 120px;
  color: black;
}

.sectioneTexto {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.445);
  width: 80%px;

  p {
    font-size: 40px;
    color: white;
  }

}

.sectioneDestacados {
  background-color: rgb(1, 43, 46);


  h2 {
    text-align: center;
    padding: 50px;
    color: white;
  }
}

.sectionInstagram {
  h3 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

    img {
      width: 30%;
      height: 30%;
      margin: 8px;
      transition: all 1s;

      &:hover {
        background-color: rgb(1, 43, 46);
        padding: 1%;
      }
    }
  }

  div {
    align-items: center;

    button {
      border-radius: 10px;
      color: rgba(35, 193, 204, 0.747);
      background-color: rgb(1, 43, 46);
      text-align: center;
      padding: 8px;
      transition: all 1s;

      &:hover {
        color: rgb(1, 43, 46);
        background-color: rgba(35, 193, 204, 0.747);
      }

      img {
        width: 20px;
        height: 20px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.sectionBoton {
  button {
    color: red;
    padding: 10px;
    font-family: alial;
    text-align: center;
    margin: 20px;
  }
}




//............main productos.......

.sectioneProductos {
  background-color: rgb(4, 118, 126);
  margin: 0 10px 0 10px;

  h2 {
    text-align: center;
    padding: 50px;
    color: black;
  }

  div {
    div {
      div {
        div {
          div {
            h2 {
              padding: 5px;
              color: black;
            }
          }
        }
      }
    }
  }
}

.btn-primary {

  margin: 5px;
  color: rgba(35, 193, 204, 0.747);
  background-color: black;

  a {
    text-decoration: none;
    color: rgba(35, 193, 204, 0.747);
    transition: all 0s;

    &:hover {
      color: white;
    }
  }
}

.btn-secondary {
  color: rgba(35, 193, 204, 0.747);
  background-color: black;
}

.carrito {


  div {
   
    padding: 20px;

    div {
      p {
        color: white;
      }
    }

    div {
      p {
        color: white;
      }
    }

    div {
      p {
        color: white;
      }
    }
  }

  .divContenedor{
    display: block;
    width: 100%;
    div {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
width: 100%;
      div {
        align-items: center;
        
        img {
          width: 80px;
          height: 80px;
        }

      }

    }

      div {

        p {
          color: white;
          font-size: 25px;
        }
      }
      div{
        button{
          width: 40px;
          height: 40px;
        }
      }

    
  }

  div {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

    p {
      color: white;
      font-size: 25px;
    }

  }
}

//.........regalos empresariales ..............

.recordatorio {
  div {
    margin: 15px;
    background-color: rgb(1, 43, 46);

    h2 {
      text-align: center;
      padding: 5px;
      color: white;
    }

    p {
      text-align: center;
      padding: 10px;
      color: white;
      font-family: "Open Sans", sans-serif;

    }
  }
}

//.......main.contactos...........
.sectionformulario {
  margin: 20px;
  background-color: white;
  background-position: 50% 50%;
  width: 25%;

  div {
    width: 100%;
    height: 50%;
    background-color: #d6037e;
    background-position: 50% 50%;

    img {
      width: 20%;
      height: 20%;
      padding: 10px;
      margin-left: 40%;
    }
  }

  form {
    width: 100%;

    div {

      width: 96%;
      height: 30%;
      background-color: white;
      display: block;
      margin: 5px;

      input {
        width: 100%;
      }

      button {
        width: 100%;
        height: 30%;
        padding: 5px;
        background-color: #d6037e;
        transition: all 1s;

        &:hover {
          background-color: white;
        }
      }
    }
  }
}